{% extends "base.html" %}

{% block title %}Biblioteca{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Biblioteca</h1>
    <form class="form-inline my-4" action="{{ url_for('biblioteca') }}" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar libro" aria-label="Buscar" name="search">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Título</th>
                <th>Autor</th>
                <th>Género</th>
                <th>Año</th>
                <th>Editorial</th>
                <th>Calificación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author.name }}</td>
                <td>{{ book.genre.name }}</td>
                <td>{{ book.year }}</td>
                <td>{{ book.publisher.name }}</td>
                <td>{{ book.rating }}</td>
                <td>
                    <!-- Custom Dropdown Menu for Actions -->
                    <div class="dropdown">
                        <button class="dropbtn">Acciones</button>
                        <div class="dropdown-content">
                            <a href="{{ url_for('loan_book', book_id=book.id) }}">Prestar</a>
                            <a href="{{ url_for('add_review', book_id=book.id) }}">Reseñar</a>
                            {% if session['profile'] == 'Administrador' %}
                            <a href="{{ url_for('edit_book', id=book.id) }}">Editar</a>
                            <a href="{{ url_for('delete_book', id=book.id) }}">Eliminar</a>
                            {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
