{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container">
    <h1>Bienvenido a la Biblioteca</h1>
    <a class="btn btn-primary" href="{{ url_for('biblioteca') }}">Biblioteca</a>
    <a class="btn btn-warning" href="{{ url_for('loans') }}">Préstamos</a>
    {% if session['profile'] == 'Administrador' %}
        <a class="btn btn-success" href="{{ url_for('add') }}">Agregar Libro</a>
        <a class="btn btn-info" href="{{ url_for('register_author') }}">Registrar Autor</a>
        <a class="btn btn-primary" href="{{ url_for('register') }}">Registrar Usuario</a>
    {% endif %}
    <a class="btn btn-danger" href="{{ url_for('view_reviews', book_id=1) }}">Reseñas</a>
</div>
{% endblock %}
